[MAIN]

py-version = 3.8

disable=
    C0114,
    C0115,
    C0116,
    C0103,
    W1203,
    W0223

max-line-length=128

load-plugins=
    pylint_django

ignore=
    migrations
    manage.py

ignore-patterns=
    \d{4}_.*?.py